/* ==========================================================================
    Fer — Html Login
    Sección: #login
    Para seguir editando: agrega tus reglas debajo de este bloque
========================================================================== */

.login-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("../../assets/img/png/fondo-login.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Centrar contenido */
.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px 40px;
  min-height: 100vh;
}

/* Caja login */
.login-box {
  background: rgba(255, 255, 255, 0.952);
  width: 500px;
  padding: 40px;
  border-radius: 20px; 
}

/* Título */
.login-box h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  }

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px 0;
  border-radius: 8px; 
  border: 1px solid #ccc;
}

/* Botón */
button {
  width: 100%;
  padding: 12px;
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 8px; 
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #c82333;
}

.signup-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
}

/* Responsive */
@media (max-width: 600px) {
  .login-box {
    width: 100%;
  }
}
